body {
    background-color: #00bFFF;
    height: 100vh;
}

header {
    margin-top: 20px;
    height: 40px;
    background-color: black;
    margin-bottom: 1600px;
}

h1 {
    font-size: 40px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    align-items: center;
    justify-content: center;
}

.card .card--description {
    font-size: 20px;
}